* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background: #333;
    color: hsl(180, 3%, 6%);
    width: 100%;
  }
  .menubar{
    position: absolute;
    top: 23px;
    left: 22px;
  }
  nav{
    background: #fff;
  }
  .links{
    width: 40%;
    padding: 5px;
  }
  a{
    list-style-type: none;
    text-decoration: none;
    color: black;
  }
  .menu{
    margin-top: 18px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center; 
  }
  li{
    list-style-type: none;
  }
  li>a{
    padding: 6px;
  }
  li>a:hover{
    border: 1px solid #ff841f;;
    transition: all .5s ease-in-out;
  }

/* Submenu section */
.submenu{
  background-color: #fff;
  position: absolute;
  margin-top: 8px;
  padding: 30px;
  margin-left: -30px;
  /* display: none; */
  transition: 850ms;
  color: #fff;
}
.submenu.active{
  left: 0;
  transition: 350ms;
}
.menu-bar{
  font-size: 1.3em;
  color: #3386f2;
  cursor:'pointer';
}
.btn_close{
  font-size: 25px;
  cursor: pointer;
}
.subinfo{
  margin-top: 15px;
  width: 100%;
}
.subinfo>article{
  margin-top: 18px;
}
h2{
  margin-top: 18px;
}
.menuArticle{
  padding: 10px;
}
.menuArticle>li{
  margin-top: 15px;
  margin-left: 8px;
  cursor: pointer;
}



