* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background: #333;
    color: hsl(180, 3%, 6%);
    width: 100%;
  }
  nav{
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .links{
    width: 40%;
    padding: 5px;
  }
  a{
    list-style-type: none;
    text-decoration: none;
    color: black;
  }
  .menu{
    margin-top: 18px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center; 
    margin-left: 15px;
  }
  li{
    list-style-type: none;
  }
  li>a{
    padding: 6px;
  }
  li>a:hover{
    border: 1px solid #202e51;
    transition: all .5s ease-in-out;
  }
.menuBurger{
  position: absolute;
  top:15px;
  left: 5px;
}
/* Submenu section */
.submenu{
  background-color: #fff;
  margin-top: 8px; 
  padding: 30px;
  margin-left: -30px;
  display: none;
  height: 133vh;
  width: 100%;
}
.open{
  max-width: 350px;
  display: block;
  margin-bottom: 40px;
  color: #0f0f0f;
  background-color: #fff;
  height: 150vh;
  will-change: transform;
  flex-direction: column;
}
.open.active{
  opacity:1;
  visibility: visible;
  transform: translateX(-120);
  transition: var(--speed) ease;
}
.submenu.active{
  left: 0;
  transition: 350ms;
}
.menu-bar{
  font-size: 1.2em;
  color: #121313;
  cursor:'pointer';
}
.angleRight{
  position: absolute;
  left: 200px;
  font-size: 1.2em;
}
.angleDown{
  position: absolute;
  top: 10px;
  left: 60px;
  font-size: 1.1em;
}
.menu-close{
  position: absolute;
  top: -15px;
  left: 350px;
  font-size: 1.5em;
  z-index: 1000;
  color: red;
}
.Sign{
  position: fixed;
  top: -25px;
  background-color: #19192e;
  padding: 12px;
  text-align: center;
  align-items: center;
  color: #fff;
  width: 100%; 
  z-index: 10000;
}
span{
  margin-left: 10px;
}
.Sign>p{
  margin-left: -50px;
  cursor: pointer;
}
.btn_close{
  font-size: 25px;
  cursor: pointer;
  position: fixed;
}
.subinfo{
  margin-top: 25px;
  overflow: scroll;
  scroll-behavior: smooth;
  padding: 20px;
  /* margin-top: 45px; */
  width: 100%;
  height: 100vh;
}
.subinfo>article{
  border-bottom: 1px solid rgba(128, 128, 128, 0.399);
  width: 300px;
}
h2{
  margin-top: 18px;
}
.menuArticle{
  padding: 10px;
}
.menuArticle>li{
  position: relative;
  padding: 8px;
  cursor: pointer;
}
/* .menuArticle>.menuChange:hover,FaAngleRight{
  border: 1px solid rgba(141, 132, 132, 0.068);
  background-color: #33333344;
} */

/* Sous menu Sidebar Music */
li>.Music{
  position: relative;
  width: 100%;
}
.Music{
  position: absolute;
  width: 500%;
  display: inline-block;
  display: none;
  background-color: #202e51;
  padding: 40px auto;
}
.scrollbar:hover{
  background-color: #58555563;
}
.scrollbar{
  position: absolute;
  left: -10px;
  margin-top: -20px;
  display: flex;
  font-size: 1.2em;
  width: 500%;
  padding: 18px;
  border-bottom: 1px solid #585555;
  margin-left: -15px;
  z-index: 100;
}
.scrollbar>.btnArrow{
  margin-left: 15px;
}
.contains{
  margin-top: 55px;
  width: 100%;
  padding: 30px;
}
.contains>ul>li{
  margin-top: 60px;
  width: 100%;
  /* font-size: 0.8em; */
}
h1{
  margin-left: -5px;
  font-size: 1.2em;
}
.openMusic{
  margin-top: -90px;
  margin-left: -20px;
  width: 500%;
  display: block;
  color: #0f0f0f;
  background-color: #fff;
  height: 130vh;
  padding: 40px;
  z-index: 1000;
}
.openMusic.active{
  opacity:1;
  visibility: visible;
  transform: translateX(-120);
  transition: var(--speed) ease;
}